@import "tailwindcss";

.boardgames {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.consola {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.pcgames {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.boardgames img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.boardgames ul {
  list-style: none;
  padding: 0;
}

.boardgames li {
  font-size: 20px;
  margin: 10px 0;
}

/* Light mode */
body {
  background-color: white;
  color: black;
}

/* Dark mode */
.dark body {
  background-color: #1a202c;
  color: white;
}

/* nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
} */

/* pt desktop */
/* @media (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
} */

/* pt tablete */
/* @media (min-width: 1024px) and (min-width: 768px) {
  .nav {
    flex-direction: column;
  }
} */

/* /* pt telefoane  */
/* @media (max-width: 767px) {
  .nav {
    flex-direction: column;
    padding: 10px;
    gap: 5px;
  }
} */
/* 
nav a {
  width: 90%;
  text-align: center;
} */
