@import "tailwindcss";

.boardgames {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.consola {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.pcgames {
  min-height: 100vh;
  background-position: center;
  background-size: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  display: flex;
}

.boardgames img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.boardgames ul {
  list-style: none;
  padding: 0;
}

.boardgames li {
  font-size: 20px;
  margin: 10px 0;
}

/* Light mode */
body {
  background-color: white;
  color: black;
}

/* Dark mode */
.dark body {
  background-color: #1a202c;
  color: white;
}
